body{
    background-color: rgba(71, 74, 71, 0.333);
}
.info-block, .left-sidebar{
    display: inline-block;
    box-sizing: border-box;
}
.ava_block{
    text-align: center;
    position: relative;
}
.left-sidebar{
    width: 20%;
    background-color: white;
}
.left-sidebar ul{
    a{
        text-decoration: none;
    }
    list-style: none;
    margin: 0;
    padding: 0;
}
.left-sidebar li{
    border-top: #302f2f 1px solid;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
    color: #525050;
    font-family: cursive;
    transition: 0.7s;
    font-size: 0.7rem;
}
.left-sidebar li:hover{
    background-color: #302f2f;
    color: white;
}
.left-sidebar img{
    max-width: 100%;
}
.info-block{
    width: 70%;
    float: right;

}
.block_stack{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.block_stack img{
    max-width: 90%;
}
.block_text{
    margin: 45px 0;
}
.block_stack div{
    transition: 0.5s;
}
.block_stack div:hover{
    transform: rotate(-5deg) translate(-16px, -25px);
}
/* фон нашего модального окна */
.modalBackground {
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    /* указываем z-индекс для корректного наслаивания */
    z-index: 1;
}
/* позиционирование самого модального окна */
.modalActive {
    position: absolute;
    width: 50%;
    height: 40%;
    top: calc(20%);
    left: calc(25%);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    cursor: default;
    padding: 40px 20px;
}
/* кнопочка закрытия модального окна */
.modalClose {
    font-family: var(--font-regular);
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* сама картинка кнопочки закрытия */
.modalClose img {
    margin: 3px;
    width: 24px;
    height: 24px;
}
/* делаем позиционирование внутренних элементов относительно модального окна */
.modalWindow {
    position: relative;
}
/* Глаза */
#canvas {
    width: 50%;
    height: 25%;
    position: absolute;
    top: 26%;
    left: 42%;

}
.login_link{
    float: right;
}
/* END Глаза */
footer{
    background-color: #fff;
    padding: 15px;
    text-align: center;
}