html{
  scroll-behavior: smooth;
}
#block-lists{display: flex;}
#img-html{width: 35%;}
p {
    color: red;
}
p,
li,
h1 {
  color: red;
}
footer{
  background-color: rgb(192, 181, 129);
  padding: 38px  0 45px 0 ;
  margin: 20px 0 12px 0;
  box-sizing: border-box;
}
footer ul.icon-list{
  list-style: none;
  display: flex;
  
}
footer ul img{
  max-height: 35px;
}
#father-container{
  background-color: blue;
  box-shadow: rgba(61, 69, 69, 0.333) 4px -5px 4px;
}